<nav>
	<ul>
		<li><a href="http://localhost:3000/">Home</a></li>
		<li><a href="http://localhost:3000/contact">Contact</a></li>
		<li><a href="http://localhost:3000/profile/0">Profile</a></li>
	</ul>
</nav>	

<hr>
<br>