<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<style type="text/css">
		body {background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
		h1 {font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
		p {font-size: 16px; text-align: center}
		li {list-style: none; display: inline-block; margin-right: 10px;}	
		a {text-decoration: none; color: #fff;}
	</style>
</head>
<body>
	<% include partials/nav.ejs %>

	<h1>Contact Us</h1>
	<p>For all your questions contact jlab@gmail.com</p>

</body>
</html>