<!DOCTYPE html>
<html>
<head>
	<title>Node Time</title>
	<link rel="stylesheet" type="text/css" href="./public/main.css">
	<!-- 	<style type="text/css">
		body {background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
		h1 {font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
		p {font-size: 16px; text-align: center}
		li {list-style: none; display: inline-block; margin-right: 10px;}	
		a {text-decoration: none; color: #fff;}
	</style> -->
</head>
<body>
	<% include partials/nav.ejs %>

	<h1>Welcome to JLab Inc.</h1>
	<p>This is where I learn all about Node.js</p>
</body>
</html>